<a (click)="toTop($event)" class="go-up">
    <img src="assets/img/icons/up-arrow.png">
  </a>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="assets/img/logo.png" class="logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium error nulla iure assumenda pariatur
            animi obcaecati fugit vero a.</p>
          <ul class="footer-social visible-xs pull-right">
            <li>
              <a href="http://meetu.ps/c/38Q3n/zFm4C/a/">
                <img src="assets/img/icons/002-meetup-logo.png"> Meetup</a>
            </li>
            <li>
              <a href="https://www.facebook.com/groups/SingaporeTechEntrepreneurs/">
                <img src="assets/img/icons/001-facebook-letter-logo.png"> Facebook</a>
            </li>
            <li>
              <a href="http://meetu.ps/c/38Q3n/zFm4C/a/">
                <img src="assets/img/icons/002-github-logo.png"> Github</a>
            </li>
            <li>
              <a href="http://meetu.ps/c/38Q3n/zFm4C/a/">
                <img src="assets/img/icons/001-youtube-logo.png"> Youtube</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-3">
              <h3>Main menu</h3>
              <ul>
                <li>
                  <a routerLink="/index">Home</a>
                </li>
                <li>
                  <a routerLink="/about">About us</a>
                </li>
                <li>
                  <a routerLink="/founder">Find Co-Founder</a>
                </li>
                <li>
                  <a routerLink="/blog">Blog</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h3>Legal</h3>
              <ul>
                <li>
                  <a routerLink="/privacy">Privacy Policy</a>
                </li>
                <li>
                  <a routerLink="/tos">Terms of Use</a>
                </li>
                <li>
                  <a routerLink="/cookie">Cookies Usage</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3 hidden-xs">
              <h3>Social Media</h3>
              <ul class="footer-social">
                <li>
                  <a href="http://meetu.ps/c/38Q3n/zFm4C/a/">
                    <img src="assets/img/icons/002-meetup-logo.png"> Meetup</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/groups/SingaporeTechEntrepreneurs/">
                    <img src="assets/img/icons/001-facebook-letter-logo.png"> Facebook</a>
                </li>
                <li>
                  <a href="http://meetu.ps/c/38Q3n/zFm4C/a/">
                    <img src="assets/img/icons/002-github-logo.png"> Github</a>
                </li>
                <li>
                  <a href="http://meetu.ps/c/38Q3n/zFm4C/a/">
                    <img src="assets/img/icons/001-youtube-logo.png"> Youtube</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h3>Having an event to promote?</h3>
              <a routerLink="/addevent" class="btn btn-primary btn-block">Add new event</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="copyrights">All rights reserved &copy; 2018 STE.sg</p>
    </div>
  </footer>
