<div class="gradiation">
  <div class="container">
    <h1>About Us</h1>
    <h3>Though bot was founded in 2003 by Chad and Jon. We care about quality, craft and disciplined experimentation. We are
      active contributors to open source software.</h3>
    <form class="newsletter" method="post" action="#">
      <div class="form-group">
        <label>Enter your email to subscribe</label>
        <input type="email" class="form-control" required>
        <div class="icon">
          <img src="assets/img/envelope.png">
        </div>
        <input type="submit" class="submit" value="Send">
      </div>
    </form>
    <ul class="social">
      <li>
        <a href="#">
          <img src="assets/img/icons/001-facebook-letter-logo.png">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/icons/002-github-logo.png">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/icons/002-meetup-logo.png" style="width: 30px;">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/icons/001-youtube-logo.png">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="singapore-tech">
  <img src="assets/img/bg.jpg" width="100%">
</div>

<a href="#" class="go-up">
  <img src="assets/img/icons/up-arrow.png">
</a>
<app-footer></app-footer>
