
<div class="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-box">
                    <h1>Privacy Policy</h1>
                    <h3>Account Restrictions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ipsum, recusandae nostrum quasi saepe voluptate amet officiis ullam soluta commodi eveniet optio esse quo nemo, dolorem tenetur. Ipsum, in, numquam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod repellendus alias est perspiciatis, magnam repellat aliquam laudantium qui, possimus veritatis sapiente quisquam hic, modi cumque enim itaque. Assumenda quis adipisci vitae minus eum deleniti cupiditate doloremque, eos, velit enim quas libero. Fugit vitae sunt mollitia rem odit minima commodi tenetur!</p>
                    <h4>General restrictions</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptate, veniam incidunt. Veniam ex aliquam optio amet numquam, officia iusto et, a, reiciendis temporibus at ipsa neque, facilis quae hic.</p>
                    <h4>Personal Account Removal</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptate rem porro praesentium odio quaerat excepturi perspiciatis error natus sit aperiam voluptatibus dolores, eos, magni, nesciunt fuga tempore explicabo eveniet.</p>
                    <h3>Something else</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aperiam tempore molestias ducimus voluptate atque, aspernatur minima, praesentium eos recusandae quas nulla exercitationem rerum excepturi perspiciatis voluptatem nisi id asperiores?</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tempora animi unde eligendi atque veniam expedita similique incidunt. Consequuntur, aut.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis veniam magnam tempore, optio aliquid, consequatur?</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <a href="#" class="close-account visible-xs">Close your account</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
